@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Sarabun', sans-serif;
}

body {
  background-color: #EFF6FF;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .glass {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

.recharts-text {
  font-family: 'Sarabun', sans-serif !important;
}
